{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h4 class="display-4">Our Mission </h4>
  <p class="lead">The primary goal of The Young Scientist is to foster scientific literacy amongst high school students by honing their critical thinking and analytical skills through the process of reading, writing, and synthesizing research papers concerning all subfields within science. </p>
  <p class="lead">The Young Scientist serves as a platform for students to write review articles summarizing and discussing scholarly scientific research, publish their own original research papers with the opportunity to have it peer-edited, and access tools to assist them in their research process. </p>
  <h4 class="font-weight-bold">Why Become a Young Scientist?</h4>
        <p class="lead">The primary goal of The Young Scientist is to foster scientific literacy amongst high school
            students by honing their critical thinking and analytical skills through the process of reading, writing,
            and synthesizing research papers concerning all subfields within science. Whether you’re looking to prepare
            for college entrance exams like the ACT and SAT or simply expand your knowledge on whatever piques your
            curiosity, engaging in the Young Scientist journal as a reader or contributor is a great way to develop
            those skills. The Young Scientist serves as a platform for students to write review articles summarizing and
            discussing scholarly scientific research, publish their own original research papers with the opportunity to
            have it peer-edited, and access tools to assist them in their research process. </p
</div>
{% endblock %}
