{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome, Young Scientists!</h1>
        <p class="lead">Explore the latest breakthroughs in research and be part of the thriving scientific community
            here at Whitney Young. </p>
    </div>
    <div class="row">
    <div class="col-md-4">
        <img style="max-width: 100%" src="{% static 'images/IMG_7095.JPG' %}">
    </div>
    <div class="col-md-8">
        <p>The division B Science Olympiad Team</p>
    </div>
    </div>
{% endblock %}
