{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h4 class="display-4">Getting Started </h4>
  <p class="lead">Getting started in research might seem daunting, but with the right information, you’ll have all the tools you need to become a Young Scientist! Below are helpful links and instructions addressing common concerns that students face during their research process. </p>
<div class="container">
  <div class="row">

  </div>
</div>
  <div class="panel panel-default">
    <h5 class="display-5">How To Analyze Data</h5>
    <div class="panel-body">
      Science Fair Extravaganza provides an excellent guide for beginners on the various methods of statistical and error analysis. Check them out!
    </div>
    <input type="button" class="btn btn-info" value="Data Analysis" onclick="location.href = 'http://sciencefair.math.iit.edu/analysis/';">
  </div>
  <h5 class="display-5"></h5>
    <p class="lead"> Science Fair Extravaganza provides an excellent guide for beginners on the various methods of statistical and error analysis. Check them out at </p>

  <h5 class="display-5">How To Cite In APA Format</h5>
    <p class="lead">Science Buddies has a great chart that breaks down the specifications of formatting your research paper according to MLA or APA format.</p>
    <input type="button" class="btn btn-info" value="Citations" onclick="location.href = 'http://www.sciencebuddies.org/science-fair-projects/project_research_paper_format.shtml';">
</div>
{% endblock %}
